@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/font-face/Inter-Regular.woff2') format('woff2'),
    url('/font-face/Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/font-face/Inter-Bold.woff2') format('woff2'),
    url('/font-face/Inter-Bold.woff') format('woff');
}
