.settings-link {
  height: 30px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.times {
  height: calc(100vh - 30px);
  background-color: #eee;
  display: grid;
}

.time {
  min-height: 90px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
