.times.Imsak {
  grid-auto-rows: 6fr 5fr 4fr 3fr 2fr 1fr;
  color: var(--color-imsak);
  background-color: var(--color-imsak-bg);
  .Gunes {
    opacity: 0.9;
  }
  .Ogle {
    opacity: 0.8;
  }
  .Ikindi {
    opacity: 0.7;
  }
  .Aksam {
    opacity: 0.6;
  }
  .Yatsi {
    opacity: 0.5;
  }
}
.times.Gunes {
  grid-auto-rows: 5fr 6fr 5fr 4fr 3fr 2fr;
  color: var(--color-gunes);
  background-color: var(--color-gunes-bg);
  .Imsak {
    opacity: 0.9;
  }
  .Ogle {
    opacity: 0.9;
  }
  .Ikindi {
    opacity: 0.8;
  }
  .Aksam {
    opacity: 0.7;
  }
  .Yatsi {
    opacity: 0.6;
  }
}
.times.Ogle {
  grid-auto-rows: 4fr 5fr 6fr 5fr 4fr 3fr;
  color: var(--color-ogle);
  background-color: var(--color-ogle-bg);
  .Imsak {
    opacity: 0.8;
  }
  .Gunes {
    opacity: 0.9;
  }
  .Ikindi {
    opacity: 0.9;
  }
  .Aksam {
    opacity: 0.8;
  }
  .Yatsi {
    opacity: 0.7;
  }
}
.times.Ikindi {
  grid-auto-rows: 3fr 4fr 5fr 6fr 5fr 4fr;
  color: var(--color-ikindi);
  background-color: var(--color-ikindi-bg);
  .Imsak {
    opacity: 0.7;
  }
  .Gunes {
    opacity: 0.8;
  }
  .Ogle {
    opacity: 0.9;
  }
  .Aksam {
    opacity: 0.9;
  }
  .Yatsi {
    opacity: 0.8;
  }
}
.times.Aksam {
  grid-auto-rows: 2fr 3fr 4fr 5fr 6fr 5fr;
  color: var(--color-aksam);
  background-color: var(--color-aksam-bg);
  .Imsak {
    opacity: 0.6;
  }
  .Gunes {
    opacity: 0.7;
  }
  .Ogle {
    opacity: 0.8;
  }
  .Ikindi {
    opacity: 0.9;
  }
  .Yatsi {
    opacity: 0.9;
  }
}
.times.Yatsi {
  grid-auto-rows: 1fr 2fr 3fr 4fr 5fr 6fr;
  color: var(--color-yatsi);
  background-color: var(--color-yatsi-bg);
  .Imsak {
    opacity: 0.5;
  }
  .Gunes {
    opacity: 0.6;
  }
  .Ogle {
    opacity: 0.7;
  }
  .Ikindi {
    opacity: 0.8;
  }
  .Aksam {
    opacity: 0.9;
  }
}
