html {
  font-family: var(--ff-text);
  font-size: var(--fs-body);
  line-height: var(--line-height);
}

/*input, textarea, select, button {
  font-weight: var(--fw-normal);
}*/

small {
  font-size: var(--fs-small);
}
