:root {
  /* GLOBAL */

  --finger: 50px;
  --transition: 120ms;
  --radius: 6px;

  /* COLOR */

  --color-imsak: #0f6c88;
  --color-imsak-bg: #d2f2ff;
  --color-gunes: #97571b;
  --color-gunes-bg: #ffebc1;
  --color-ogle: #804126;
  --color-ogle-bg: #ffeda3;
  --color-ikindi: #8f361a;
  --color-ikindi-bg: #ffd8ba;
  --color-aksam: #073e6d;
  --color-aksam-bg: #8bccfd;
  --color-yatsi: #bae6ff;
  --color-yatsi-bg: #2e3b83;

  /* SPACE */

  --space: 8px;
  --space-1: calc(var(--space) / 2); /* 4px */
  --space-2: var(--space); /* 8px */
  --space-3: calc(var(--space) * 2); /* 16px */
  --space-4: calc(var(--space) * 3); /* 24px */
  --space-5: calc(var(--space) * 4); /* 32px */
  --space-6: calc(var(--space) * 5); /* 40px */

  /* FONT */

  --ff-text: 'Inter', sans-serif;
  --fw-normal: normal; // 400
  --fw-bold: 700; // 700
  --line-height: 1;
  --fs-small: 14px;
  --fs-body: 16px;
}
