@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: black;
        --secondary: white;
        --gradient-from: #222;
        --gradient-to: #444;
        --moon-light: white;
        --moon-dark: black;
    }

    button {
        @apply text-left;
    }
}
